SELECT {
    /* Estilo para los valores de verdad */
}
body{
    background-color: black;
}
h4{
    color: #00ff2b;
    font-family: Helvetica, sans-serif;

}
strong{
    color: #00ff2b;
    font-family: Helvetica, sans-serif;
}
input{
    background-color: black;
    color: #00ff2b;
}
button{
    background-color: black;
    color: #00ff2b;
}
select{
    background-color: black;
    color: #00ff2b;
}
.row{
    text-align: center;
}
.cuerpo-calculadora button {
    /* Estilo para los botones de la calculadora */
    width:70px;
    height:50px;
    margin: 0.20rem 0.20rem 0.20rem 0.20rem;
    border: 0px;
    font-size: 20px;
}

.text-input {
    width: 75%;
    text-align: center;
}

.linea-decoracion {
    position: relative;
    max-width: 1000px;
    width: 250px;
    height: 2px;
    margin: 20px auto 22px;
    
}
  
.linea-decoracion::before {
    position: absolute;
    content: '';
    height: 100%;
    left: 15px;
    right: 15px;
    background: #d7d7d7;
    transition: 0.3s ease-in-out;
}
  
.linea-decoracion::after {
    position: absolute;
    content: '';
    height: 100%;
    left: 50%;
    right: 50%;
    background: #a39bfa;
}

.encabezado {
    font-weight: 700;
    font-size: 3.2rem;
    font-family: Helvetica, sans-serif;
    letter-spacing: .5rem;
    color: #00ff2b;
}

.tabla-generada * {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
}

.titulo-tabla {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.titulo-tabla font {
    font-size: 2rem;
}

.btn:focus, .btn-dark:focus {
    box-shadow: none;
}

#btn-borrar {
    font-size: 15px;
}

@media only screen and (max-width: 575px) {
    .encabezado {
        font-size: 2rem;
        letter-spacing: .25rem;
    }

    .linea-decoracion {
        width: 200px;
    }
}